ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.5
kedro-datasets[pandas-csvdataset, pandas-exceldataset, pandas-parquetdataset]>=3.0; python_version >= "3.9"
kedro-datasets[pandas.CSVDataset, pandas.ExcelDataset, pandas.ParquetDataset]>=1.0; python_version < "3.9"
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
notebook
ruff~=0.1.8
scikit-learn~=1.0

pandas~=1.3.1
wandb~=0.17.0